<article class="review-container my-3 pb-3">
  <div class="pr-3">
    <img src="<%= url_for(review.author.photo) %>">
  </div>
  <div class="w-100">
    <div class="d-flex w-100 justify-content-between text-secondary mb-3">
      <div>
        <p class="mb-0">
          Created By
          <%= link_to review.author.username, user_path(review.author) %>
        </p>
      </div>
      <div>
        <p class="mb-0"><span><%= time_ago_in_words(review.created_at) %> ago</span></p>
      </div>
    </div>
    <p class="text-secondary">
      <%= review.text %>
    </p>
    <div class="review-links">
      <% unless show_icons.nil? %>
      <%= link_to review_path review do %>
      <i class="fas fa-eye"></i>
      <% end %>
      <% end %>
      <% if current_user == review.author %>
      <%= link_to edit_review_path review do %>
      <i class="fas fa-pen"></i>
      <% end %>
      <%= link_to review_path(review), method: :delete do %>
      <i id="delete-icon" class="far fa-trash-alt"></i>
      <% end %>
      <% end %>
    </div>
  </div>
</article>