<!DOCTYPE html>
<html>

<head>
  <title>Course Reviews</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/7692afb188.js" crossorigin="anonymous"></script>
</head>

<body>
  <% if logged_in? %>
  <%= render 'layouts/side_navbar' %>
  <%= render 'layouts/top_navbar' %>
  <% end %>
  <%= yield %>
</body>

</html>